/*
 * Copyright (c) 2021 Darryl deHaan
 *
 * SPDX-License-Identifier: MIT
 */

#include "boards/arm/corneish_zen/corneish_zen_flash0.dtsi" // override &flash0 settings
#include <behaviors/num_word.dtsi>      // urob's num_word module
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        //zmk,matrix_transform = &default_transform;

        zmk,matrix_transform = &five_column_transform;
    };

    macros {
        t_pairDquo: t_pairDquo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
                <&macro_tap>,
                <&kp DOUBLE_QUOTES &kp DOUBLE_QUOTES &kp LEFT>;

            label = "T_PAIRDQUO";
            tap-ms = <40>;
        };

        t_pairSquo: t_pairSquo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
                <&macro_tap>,
                <&kp SINGLE_QUOTE &kp SINGLE_QUOTE &kp LEFT>;

            label = "T_PAIRSQUO";
            tap-ms = <40>;
        };

        t_pairLtGt: t_pairLtGt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT &kp LALT &kp RALT &kp LCTRL &kp RCTRL &kp LEFT_WIN &kp RWIN>,
                <&macro_tap>,
                <&kp LT &kp GT &kp LEFT>;

            label = "T_PAIRLTGT";
            tap-ms = <40>;
        };
    };

    behaviors {
        DotColn: DotColn {
            compatible = "zmk,behavior-mod-morph";
            label = "DOTCOLN";
            bindings = <&kp DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        SlshStar: SlshStar {
            compatible = "zmk,behavior-mod-morph";
            label = "SLSHSTAR";
            bindings = <&SlshBslh>, <&kp STAR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        SlshBslh: SlshBslh {
            compatible = "zmk,behavior-mod-morph";
            label = "SLSHBSLH";
            bindings = <&kp FSLH>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RSFT)>;
        };

        HashDllr: HashDllr {
            compatible = "zmk,behavior-mod-morph";
            label = "HASHDLLR";
            bindings = <&kp HASH>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        MinusPlus: MinusPlus {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUSPLUS";
            bindings = <&kp MINUS>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    #define hold_tap_config \
            compatible = "zmk,behavior-hold-tap"; \
            #binding-cells = <2>; \
            tapping-term-ms = <200>; \
            flavor = "tap-preferred"
        
        DoubleQuotesLt: DoubleQuotesLt {
            hold_tap_config;
            bindings = <&pairDquoLt>, <&DquotLt>;
        };

        pairDquoLt: pairDquoLt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&t_pairDquo>, <&t_pairLtGt>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        DquotLt: DquotLt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES>, <&kp LT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        SingleQuoteGt: SingleQuoteGt {
            hold_tap_config;
            bindings = <&pairSquoGt>, <&SquotGT>
        };

        pairSquoGt: pairSquoGt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&t_pairSquo>, <&kp GT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        SquotGT: SquotGT {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp GT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp F  &kp P  &kp D          &kp L  &kp X      &HashDllr   &DotColn   &SlshStar  &DoubleQuotesLt  &SingleQuoteGt
  &kp S  &kp N  &kp T          &kp H  &kp K      &kp COMMA   &kp A      &kp E      &kp I            &kp C
  &kp V  &kp W  &kp G          &kp M  &kp J      &MinusPlus  &kp U      &kp O      &kp Y            &kp B
                &kp BACKSPACE  &kp R  &kp DEL    &kp BSPC    &kp SPACE  &kp RET
            >;
        };
    };
};

#include "moutis/moutis_config.dtsi"    // my add-on feature defs
#include "keymaps/keynames_3x5_3.h"     // key name defs for this board topology
#include "layouts/hd/vf-config.h"       // HD alpha keymap, adapt, and combo definitions

/ {
/*
 * Behaviors
 */
    behaviors {

#include "moutis/moutis_behaviors.dtsi" // common behaviors (hold-taps, mod-morphs, lingers, adaptives)
#include HD_adapt_file                  // HDalpha/mnemonic based adaptives (most of them)

    };

/*
 * Macros
 */
    macros {
    
#include "moutis/moutis_macros.dtsi"    // common macros (superset)

    };

/*
 * Combos
 */
    combos {
        compatible = "zmk,combos";

#include "moutis/moutis_combos.dtsi"    // common/location based combos (cut/copy/paste, esc, app, etc.)
#include HD_combo_file                  // HD alpha/mnemonic based combos (h-digraphs, etc.)

    };
/*
 * Keymap (all layers w/references to all the above)
 */

#include "keymaps/keymap_3x5_3.dtsi"    // consolidated keymap

};
